.container{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right:auto;
    margin-left:auto;

    &.conatiner-fixed-500{
        width:500px;
    }
    &.container-fixed-700{
        width:700px;
    }
}