<section id="manage-work">
    <div class="container">
        <img src="/images/Home/ManageWork/image.svg" alt="Picture of design layout">
        <div class="content">
            <h1>Manage Your Work</h1>
            <ul>
                <li>
                    <i class="fa-regular fa-circle-check"></i> <p>Powerful project management</p>
                </li>
                <li>
                    <i class="fa-regular fa-circle-check"></i> <p>Powerful project management</p>
                </li>
                <li>
                    <i class="fa-regular fa-circle-check"></i> <p>Transparent work management</p>
                </li>
                <li>
                    <i class="fa-regular fa-circle-check"></i> <p>Manage work & focus on the most important tasks</p>
                </li>
                <li>
                    <i class="fa-regular fa-circle-check"></i> <p>Track your progress with interactive charts</p>
                </li>
                <li>
                    <i class="fa-regular fa-circle-check"></i> <p>Easiest way to track time spent on tasks</p>
                </li>


            </ul>
            <NavLink class="btn-theme" href="/#worktools"><span>Learn more</span><i class="fa-solid fa-arrow-right"></i></NavLink>

        </div>
    </div>
</section>