<section id="lightdark">
    <div class="switch-color-black"></div>
    <div class="container">

        <div class="switch-color-white">
            <h1 class="white-text">Switch between </h1>
            <h1 class="black-text"> Light & Dark Mode</h1>
        </div>

        <img src="/images/Home/SwitchTheme/mockup.svg" alt="Picture of computer with dark and light theme" />

    </div>

</section>