<section id="features" class="Tool-box">
    <div class="container">
        <div class="Tool-box-text">
            <h1>What Do You Get with Our Tool?</h1>
            <p>Make sure all your tasks are organized so you can set the priorities and focus on important.</p>
        </div>

        <div class="featurelist">

            <div class="feature" id="feature-1">
                <div class="icons">
                    <img src="/images/Icons/Message-icon.svg" />
                </div>
                <h4>Comments on Tasks</h4>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>

            </div>


            <div class="feature" id="feature-2">

                <div class="icons">
                    <img src="/images/Icons/Tasks-icon.svg" />
                </div>
                <h4>Tasks Analytics</h4>
                <p>Non imperdiet facilisis nulla tellus Morbi scelerisque eget adipiscing vulputate.</p>

            </div>

            <div class="feature" id="feature-3">

                <div class="icons">
                    <img src="/images/Icons/Assignees-icon.svg" />
                </div>
                <h4>Multiple Assignees</h4>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>

            </div>

            <div class="feature" id="feature-4">

                <div class="icons">
                    <img src="/images/Icons/Notification-icon.svg" />
                </div>
                <h4>Notifications</h4>
                <p>Diam, suspendisse velit cras ac. Lobortis diam volutpat, eget pellentesque viverra.</p>


            </div>

            <div class="feature" id="feature-5">

                <div class="icons">
                    <img src="/images/Icons/Tasks-icon.svg" />
                </div>
                <h4>Sections & Subtasks</h4>
                <p>Mi feugiat hac id in. Sit elit placerat lacus nibh lorem ridiculus lectus.</p>


            </div>

            <div class="feature" id="feature-6">

                <div class="icons">
                    <img src="/images/Icons/shield-icon.svg" />
                </div>
                <h4>Data Security</h4>
                <p>Aliquam malesuada neque eget elit nulla vestibulum nunc cras.</p>


            </div>



        </div>
    </div>

</section>