<section class="Work-tools">
    <div class="container">

        <div>
            <div class="Toolinfo">
                <h1>Integrate Top Work Tools</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
            </div>
            <div class="grid">
                <div class="box">
                    <img src="/images/Home/WorkTools/Google.svg" alt="google-logo">
                    <p>Lorem magnis pretium sed curabitur nunc facilisi nunc cursus sagittis.</p>
                </div>
                <div class="box">
                    <img src="/images/Home/WorkTools/Zoom.svg" alt="Zoom-logo">
                    <p>In eget a mauris quis. Tortor dui tempus quis integer est sit natoque placerat dolor.</p>
                </div>
                <div class="box">
                    <img src="/images/Home/WorkTools/Slack.svg" alt="slack-logo">
                    <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
                </div>
                <div class="box">
                    <img src="/images/Home/WorkTools/gmail.svg" alt="gmail-logo">
                    <p>Rutrum interdum tortor, sed at nulla. A cursus bibendum elit purus cras praesent.</p>
                </div>
                <div class="box">
                    <img src="/images/Home/WorkTools/Trello.svg" alt="Trello-logo">
                    <p>Congue pellentesque amet, viverra curabitur quam diam scelerisque fermentum urna.</p>
                </div>
                <div class="box">
                    <img src="/images/Home/WorkTools/MailChimp.svg" alt="MailChimp-logo">
                    <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
                </div>
                <div class="box">
                    <img src="/images/Home/WorkTools/Dropbox.svg" alt="Dropbox-logo">
                    <p>Ut in turpis consequat odio diam lectus elementum. Est faucibus blandit platea.</p>
                </div>
                <div class="box">
                    <img src="/images/Home/WorkTools/Evernote.svg" alt="Evernote-logo">
                    <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
                </div>
            </div>

        </div>

    </div>
</section>