<section class="breadcrumbblock">
    <div class="container">
        <div>
            <ul class="breadcrumb">
                <li><i class="fa-solid fa-house"></i></li>
                <li><a href="/">Home</a></li>
                <li><i class="fa-solid fa-angles-right"></i></li>
                <li><a href="/courses">Courses</a></li>
            </ul>
        </div>
    </div>

</section>
