<section id="Workwithus">
    <div class="container">
        <div class="work">
            <div class="workInfo">
                <p>Ready to get started?</p>
                <h2>Take Your Skills to the Next Level</h2>
                <NavLink class="btn-theme" href="/Account/login"><span>Work with us</span></NavLink>
            </div>
            <div class="workimg">
                <img src="/images/Courses/WorkWithUS/girlwithlaptop.svg" alt="Image of a woman sitting by her computer" />
            </div>
        </div>

    </div>

</section>