#account-details {
    display: grid;
    height: 100%;
    padding-top: 1rem;

    @include md {
        display: grid;
        gap: 150px;
        grid-template-columns: 2fr 5fr;
        margin-bottom: 70px;
    }

    .alert {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 2rem;
        padding: 2rem 1rem;
    }

    aside {
        display: none;

        @include md {
            display: block;
            border-right: 1px solid $gray-300;
            padding-right: 1.5rem;
        }


        .profile-info {
            text-align: center;
            margin: 1.2rem;

            img {
                height: 150px;
                width: auto;
                border-radius: 80px;
                position:relative;
            }

            .btn-circle{
                position:absolute;
                top:15rem;
                left:16rem;

                &:hover{
                    background-color:$gray-100;
                }
            }
                
                
            h5 {
                margin-top: 1rem;
                margin-bottom: 0;
            }

            p {
                @include text-m;
            }
        }

        nav {
            margin-top: 50px;
            text-align: left;

            a {
                margin: 10px 0;
                text-align: left;
                justify-content: flex-start;
            }

            .btn-theme-s {
                text-align: left;
                justify-content: flex-start;
            }
        }
    }

    .details {
        margin-top: 50px;
        width: 100%;



        .basic-info {


            form {
                padding: 1rem;


                h5 {
                    color: $theme;
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr;
                    grid-template-areas: "firstname" "lastname" "email" "phone" "bio" "buttons";

                    @include lg {
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: "firstname lastname" "email phone" "bio bio" "buttons buttons";
                    }


                    #form-firstname {
                        grid-area: firstname;
                    }

                    #form-lastname {
                        grid-area: lastname;
                    }

                    #form-email {
                        grid-area: email;
                    }

                    #form-phone {
                        grid-area: phone;
                    }

                    #form-bio {
                        grid-area: bio;


                        span {
                            color: $gray-500;
                            font-weight: 400;
                        }
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }

                    input {
                        width: 100%;
                    }
                }
            }
        }

        .adress-info {
            margin-top: 30px;

            form {
                padding: 1rem;

                h5 {
                    color: $theme;
                }

                .content {
                    display: grid;
                    gap: 1rem 2rem;
                    grid-template-columns: 1fr;
                    grid-template-areas: "adress_1" "adress_2" "postal" "city" "buttons";

                    @include lg {
                        grid-template-columns: 1fr 1fr;
                        grid-template-areas: "adress_1 adress_1" "adress_2 adress_2" "postal city" "buttons buttons";
                    }


                    #form-adress1 {
                        grid-area: adress_1;
                    }

                    #form-adress2 {
                        grid-area: adress_2;

                        span {
                            color: $gray-500;
                            font-weight: 400;
                        }
                    }

                    #form-postal {
                        grid-area: postal;
                    }

                    #form-city {
                        grid-area: city;
                    }

                    .form-buttons {
                        grid-area: buttons;
                        margin: 20px 0;
                        display: flex;
                        gap: 20px;
                    }

                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}
